﻿<h1>Get Image Details</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <label class="p-1">URL</label>
        </div>

        <div class="col-sm-8">
            <input type="text" value="" class="w-100 p-1" placeholder="URL" id="Url" />
        </div>
        <div class="col-sm-1">

            <input type="button" class="btn btn-primary" onclick="SubmitForm()" value="Get Picture Details" />
        </div>

    </div>
    <div class="row">
        <div class="col-sm p-3 mb-2 bg-light" id="Response">
        </div>
    </div>
    
</div>

<script>
    function SubmitForm() {
        var url = $('#Url').val();

        $.ajax({
            type: "POST",
            url: '/Home/ProcessImage/',
            data: { url: encodeURIComponent(url) },
            success: function (data) {
                $('#Response').html(data);
            },
            error: function (data) {
                $('#Response').html(data);
            },
            async: true
        });
    }
</script>